{
    "user":             "PUT YOUR USER UID HERE",
    "oauth":            "PUT YOUR ACCESS TOKEN HERE",
    "client_id":        "PUT YOUR CLIENT ID HERE",
    "client_secret":    "PUT YOUR CLIENT SECRET HERE"
}
